@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Vithkuqi:wght@500&family=Roboto:wght@400;700&display=swap%27');
a{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
h1{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
h2{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
p{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}